<section class="well text-center">
  <div class="container">
    <h1 class="well">Crafty McGee's Craft Beer</h1>
    <p>Beer made from Organic ingredients sourced from your backyard!</p>
  </div>
</section>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
